.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stripe{
    background-image: url(images/stripe.png);
    background-repeat: repeat;
}

.raleway{font-family: "raleway", sans-serif;}

.raleway-800{font-family: "raleway", sans-serif;font-weight: 800}

.raleway-4{font-family: "raleway", serif;font-size: 4pc;font-weight: 800;}

.raleway-2{font-family: "raleway", serif;font-size: 2pc;font-weight: 800;}

body{font-family: "Bitter", serif;}

.galleria{ width: 700px; height: 400px; background-color: white;}

#contained{margin: 5% auto 5% auto;width: 80%}

.nostyle{list-style: none;}